html {
    background-color: #f2f2f2;
}


.main > a {
    text-align: center;
    text-decoration: none;
    color: #000;
}

/* Menu */

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8 ;
    border-radius: 10px;
    padding: 5px;
  }
  
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .main-menu ul li {
    margin: 0 10px;
  }
  
  .main-menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  .main-menu ul li a:hover {
    color: #007bff;
  }
  
  .board-size-selector {
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
    color: #212529;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
    width: 8rem;
    transition: all 0.2s ease-in-out;
    text-align: center;
  }
  
 
  
  .board-size-selector:hover {
    background-color: #e9ecef;
  }
  
  .board-size-selector:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  

  /* Game Page */

.board-container {
    justify-content: center;
}

.board{
    position: absolute;
    gap: 10px;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.cells{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    height: 75px;
    width: 75px;
}

.cells:hover {
    background-color: #f0f0f0;
  }
  
  .cells:active {
    transform: scale(0.95);
  }
  
  .x {
    color: #f00;
  }
  
  .o {
    color: #00f;
}

/* Custom Alert Box */

.alert-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    justify-content: center;
    align-items: center;
  }

  .alert-content {
    color: black;
    background-color:antiquewhite;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
    width: 25%;
    height: 25%;
    margin: 10% auto;
  }

  .alert-content h2 {
    font-family: DistantGalaxy;
    margin-top: 0;
  }
  
  .alert-content p {
    font-family: Poppins-Regular;
    margin-bottom: 20px;
  }
  
  .alert-content button {
    color: black;
    background-color: white;
    border-radius: 3px;
    width: 30%;
    height: 30px;
  }

  /* Save option on game page */

  .board-container > form {
    position: absolute;
    left: 2%;
    top: 25%;
  }

  .board-container > form > button {
    color: black;
    background-color: white;
    border-radius: 3px;
    width: 35%;
    height: 25px;
    margin-top: 10px;
  }

  .board-container > form > input {
    width: 100%;
  }

  .board-container > button {
    color: black;
    background-color: white;
    border-radius: 3px;
    width: 10%;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
  }

  /* Load Page */

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  input[type="text"] {
    font-size: 18px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 20%;
  }
  
  div.game {
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  div.game h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0 15px;
  }
  
  div.game button {
    background-color: #0077cc;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  div.game button:hover {
    background-color: #005ea6;
  }
  
  div.game button:last-child {
    background-color: #ccc;
    color: black;
  }
  
  div.game button:last-child:hover {
    background-color: #b3b3b3;
  }
  